.container-text{background-color: white; padding: 20px; border-radius: 15px; max-width: 750px; margin: 0 auto; margin-top: 20px;}
.container-text form{display: flex;}
.container-text h2{text-align: center; font-size: 1em; margin-bottom: 10px;}
.container-text input{width: 80%; outline: none; background: rgba(35, 60, 139, 0.1); border: none;}
.container-text button{width: 20%; border: none; background: rgba(35, 60, 139, 0.1); margin-left: 5px; cursor: pointer; padding: 5px;}
.container-text button i {margin-left: 3px;}

.image-preview {
    margin: 20px auto;
    width: 70%;
    min-width: 100px;
    border: 2px solid rgb(12, 47, 88);
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(12, 47, 88, 0.7);
}

.image-preview__image{display: none;width: 100%;}

input[type="file"]{display: none;}

label{
    width: 40%;
    font-weight: bold;
    padding: 8px 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(12, 47, 88);
    cursor: pointer;
}
label:hover {transition: 200ms;filter: brightness(140%);}

.upload span {
    width: 60%;
    min-height: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(12, 47, 88, 0.8);
    background-color: rgba(35, 60, 139, 0.1);
    text-align: center;
    padding: 1px 10px;
    border: 1px solid rgb(12, 47, 88);
    margin-left: 5px;
}
.upload button i {color: white}
.upload button{background: rgb(12, 47, 88);}
.upload button:hover{transition: 200ms;filter: brightness(140%);}

.content-table {
    width: 70%;
    border-collapse: collapse;
    font-size: 1.5em;
    background-color: rgba(35, 60, 139, 0.1);
    box-shadow: 1px 1px 20px -10px black;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.content-table thead tr {
    background-color: rgb(12, 47, 88) ;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.content-table th,
.content-table tr {
    padding: 4px 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.content-table tbody tr:nth-of-type(even){
    background-color: rgb(12, 47, 88, 0.1);
}

.content-table tbody tr:hover {
    filter: brightness(120%);
}

@media (max-width: 470px) {
    .content-table{width:100%}
    .content-table thead tr{display: flex;flex-wrap: wrap;}
    .content-table th,
    .content-table tr{flex-direction: column;}
}