.container-text{background-color: white; padding: 20px; border-radius: 15px; max-width: 600px; margin: 0 auto; margin-top: 20px;}
.container-text form{display: flex;}
.container-text h2{text-align: center; font-size: 1em; margin-bottom: 10px;}
.container-text input{width: 80%; outline: none; background: rgba(35, 60, 139, 0.1); border: none;}
.container-text button{width: 20%; border: none; background: rgba(35, 60, 139, 0.1); margin-left: 5px; cursor: pointer; padding: 5px;}
.container-text button i {margin-left: 3px;}
.aviso{position: absolute; bottom: 20px; text-align: center;}