*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }

  body {
    padding: 10px;
    font: 400 14px Roboto, sans-serif;
    background: rgba(35, 60, 139, 0.1);
    -webkit-font-smoothing: antialiased;
  }

  .header {
    padding: 10px calc((100% - 1200px)/2);
    border-bottom: 5px solid white;
    background-color: rgb(25, 40, 124);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    align-items: center;
  }
  
  .header-logo {
    height: 100px;
    border-radius: 10px;
    margin-left: 10px;
  
  }
  
  header h1{
    font-size: 32px;
    color: white;
    margin-right: 10px;
  }