*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

#chat{line-height: 1.5;}

body {
  padding: 10px;
  font: 400 14px Roboto, sans-serif;
  background: rgba(35, 60, 139, 0.1);
  -webkit-font-smoothing: antialiased;
}
.header {
  padding: 10px calc((100% - 1200px)/2);
  border-bottom: 5px solid white;
  background-color: rgb(25, 40, 124);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 15px;
  align-items: center;
}

.header-logo {
  height: 100px;
  border-radius: 10px;
  margin-left: 10px;

}

header h1{
  font-size: 32px;
  color: white;
  margin-right: 10px;
}

input{
  font: 400 16px Roboto, sans-serif;
}

input[type=button] {
  cursor: pointer;
  color: white;
  background-color: rgb(3, 16, 158);
}

input:focus {
  border-color: rgb(128, 133, 224);
}

form input {
  width: 100%;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 10px 24px;
}

.chat-container{
  width: 100%;
 
}

.chat-container section.dialog{
  width: 100%;
  margin-left:0px;
  padding: 10px;
  max-height: 65vh;
  overflow-y: auto;
  
  border-radius: 8px;
  display: flex;
}

form.chatForm{
  position:fixed;
  width: 100%;
  bottom:0;
  padding-bottom: 30px;
  display: flex;
}

form.chatForm input + input{
  margin-left:0px;
  border-radius: 10px;
  transition: filter 0.1s;
  margin-right: 20px;

flex: 3;
}

form.chatForm input + input:hover{
  filter: brightness(85%);
}

@media (max-width: 600px){
  .header{justify-content: center;}
  .header h1{margin-left: 10px; padding: 5px;}
  .chat-container section.dialog{max-height: 60vh;}
}

#chat{display: flex; flex-direction: column; max-width: 1200px; margin: 0 auto;}
#chat div{background-color: white; margin-bottom: 15px; border-radius: 10px; padding: 10px; max-width: 100%; overflow-wrap: anywhere;}
.you{align-self: flex-end;}
.teacher{align-self: flex-start;}
.bold{font-weight: bold;}